* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  background-color: #5253ae;
  justify-content: space-between;
  align-items: center;
}
.nextgen{
  height: 53px;
  width: 36px;
}
.logo_conatainer{
  margin-left: 4%;
}
.navbar{
   
   display: flex;
   justify-content: space-between;
   min-width: 500px;
}
.navbar a{
  font-size: 20px;
  letter-spacing: .3px;
  color: rgb(237, 240, 65);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.search_bar{
  height: 40px;
  min-width: 400px;
  display: flex;
  align-items: center;
}


.search_input{
 color: aqua;
 background-color: rgb(235, 232, 238);
flex-grow: 1;
height: 40px;
border: 0;
}
.search_icon{
  box-sizing: content-box;
  height: 20px;
  padding: 10px;
  background-color: rgb(235, 232, 238);
  font-weight: 300;
  border-radius: 4px 0 0 4px;

}
.action_bar{
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}
/* main sectio */
.banner_container {
  margin: 40px 0;
  display: flex;
}
.she{

  margin-left: auto;
  color: rgb(2, 13, 13);
  font-weight: 400;
  margin-left: 40px;
  text-transform: uppercase;
  max-height: fit-content;
}
.kharr{
  color: aqua;
  font-size: 1em;
}
.banner_img{
  height: 500px;
  width: 800px;
  
}
.category_heading{
  text-transform: uppercase;
  color: aqua;
  letter-spacing: 0.5em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 700;

}
.sell{
  margin: 30px;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  width: 400px;
}