*{
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  background-color: aqua;

}
.nav_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 500px;

}
.nav_bar a{
  text-decoration: none;
  letter-spacing: .3px;
  color: black;
  text-transform: uppercase;
  font-weight: 400;
}